<h1>Welcome#index</h1>
<ul>
    <li><%= link_to 'Categories' , controller: 'categories' %></li>
    <li></li>
    <li><%= link_to 'Pages' , controller: 'pages' %></li>
    <li><%= link_to 'Links' , controller: 'links' %></li>
    <li><%= link_to 'Texts' , controller: 'texts' %></li>
</ul>
