<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
      <h3 class="panel-title">Categories</h3>
      </div>

      <div class="panel-body">
        <p>
          <strong>Title:</strong>
          <%= @category.title %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @category.description %>
        </p>
      </div>
       <div class="panel-footer">
        <div class="btn-group">
          <%= link_to 'Back', categories_path, class: "btn btn-warning" %>
        </div>
      </div>
    </div>
  </div>
</div>
        
